.cell {
  width: calc(100% / 8);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  border: 2px solid transparent;

  &.none {
    visibility: hidden;
  }

  &.current {
    border: 2px solid #6699ffaa;
    background-color: #6699ff5f;
  }

  &.meeting {
    background-color: #c6d3ea9e;
    border: 2px solid #c6d3ea9e;
  }

  &.current {
    border: 2px solid #6699ffaa;
  }

  &:hover {
    background-color: #619bfe1b;
  }
}
