.header {
  width: calc(100% / 7);
  min-height: 35px;
  height: calc(100% - 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.cell {
  width: calc(100% / 7);
  min-height: 35px;
  height: calc(100% - 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  position: relative;

  &.none {
    visibility: hidden;
  }

  &.current {
    border: 2px solid #6699ffaa;
    background-color: #6699ff5f;
  }

  &.meeting {
    background-color: #c6d3ea9e;
    border: 2px solid #c6d3ea9e;
  }

  &.current {
    border: 2px solid #6699ffaa;
  }

  .tooltip {
    position: absolute;
    bottom: calc(100% - 30%);
    left: calc(100% - 55%);
    visibility: hidden;
    z-index: 1;
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #111;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    overflow-y: auto;
  }

  &:hover .tooltip {
    visibility: visible;
  }

  &:hover {
    background-color: #619bfe1b;
  }
}
